################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/bin/*
/obj/*
/.vs/DataImport
/bin/Debug/Connections/ConnectionsList.Default.xml
/bin/Debug/Connections/MscrmTools.ConnectionsList.xml
/bin/Debug/Metadata
/bin/Debug/Plugins/DataImport.dll
/bin/Debug/Plugins/manifest.json
/bin/Debug/runtimes/win-arm64/native
/bin/Debug/runtimes
/bin/Debug/runtimes/win-x64/native/WebView2Loader.dll
/bin/Debug/Settings/XrmToolBox.Announcements.xml
/bin/Debug/Settings/XrmToolBox.Installation.xml
/bin/Debug/Settings/XrmToolBox.Mru.xml
/bin/Debug/Settings/XrmToolBox.Settings.xml
/bin/Debug/DataImport.dll.config
/bin/Debug/DataImport.pdb
/bin/Debug/McTools.Xrm.Connection.dll
/bin/Debug/McTools.Xrm.Connection.WinForms.dll
/bin/Debug/Microsoft.Bcl.AsyncInterfaces.dll
/bin/Debug/Microsoft.Bcl.AsyncInterfaces.xml
/bin/Debug/Microsoft.Crm.Sdk.Proxy.dll
/bin/Debug/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
/bin/Debug/Microsoft.IdentityModel.Clients.ActiveDirectory.xml
/bin/Debug/Microsoft.IdentityModel.dll
/bin/Debug/Microsoft.Rest.ClientRuntime.dll
/bin/Debug/Microsoft.Web.WebView2.Core.dll
/bin/Debug/Microsoft.Web.WebView2.Core.xml
/bin/Debug/Microsoft.Web.WebView2.WinForms.dll
/bin/Debug/Microsoft.Web.WebView2.WinForms.xml
/bin/Debug/Microsoft.Web.WebView2.Wpf.dll
/bin/Debug/Microsoft.Web.WebView2.Wpf.xml
/bin/Debug/Microsoft.Web.XmlTransform.dll
/bin/Debug/Microsoft.Web.XmlTransform.pdb
/bin/Debug/Microsoft.Xrm.Sdk.Deployment.dll
/bin/Debug/Microsoft.Web.WebView2.Wpf.xml
/bin/Debug/Microsoft.Xrm.Sdk.dll
/bin/Debug/Microsoft.Xrm.Sdk.Workflow.dll
/bin/Debug/Microsoft.Xrm.Sdk.Workflow.xml
/bin/Debug/Microsoft.Xrm.Tooling.Connector.dll
/bin/Debug/Microsoft.Xrm.Tooling.CrmConnectControl.dll
/bin/Debug/Microsoft.Xrm.Tooling.Ui.Styles.dll
/bin/Debug/Microsoft.Xrm.Tooling.WebResourceUtility.dll
/bin/Debug/Microsoft.Xrm.Tooling.WebResourceUtility.xml
/bin/Debug/Newtonsoft.Json.dll
/bin/Debug/NuGet.Common.dll
/bin/Debug/NuGet.Configuration.dll
/bin/Debug/NuGet.Frameworks.dll
/bin/Debug/NuGet.Packaging.dll
/bin/Debug/NuGet.Protocol.dll
/bin/Debug/NuGet.Versioning.dll
/bin/Debug/ScintillaNET.dll
/bin/Debug/ScintillaNET.xml
/bin/Debug/System.Buffers.dll
/bin/Debug/Microsoft.Web.WebView2.Wpf.xml
/bin/Debug/System.Buffers.xml
/bin/Debug/System.Memory.dll
/bin/Debug/System.Numerics.Vectors.dll
/bin/Debug/System.Numerics.Vectors.xml
/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
/bin/Debug/System.Text.Encodings.Web.dll
/bin/Debug/System.Text.Encodings.Web.xml
/bin/Debug/System.Text.Json.dll
/bin/Debug/System.Text.Json.xml
/bin/Debug/System.Threading.Tasks.Extensions.dll
/bin/Debug/System.Threading.Tasks.Extensions.xml
/bin/Debug/System.ValueTuple.dll
/bin/Debug/WeifenLuo.WinFormsUI.Docking.dll
/bin/Debug/WeifenLuo.WinFormsUI.Docking.ThemeVS2015.dll
/bin/Debug/XrmToolBox.exe
/bin/Debug/XrmToolBox.Extensibility.dll
/bin/Debug/XrmToolBox.ToolLibrary.dll
/bin/coretools/CrmSvcUtil.exe
/bin/coretools/CrmSvcUtil.exe.config
/bin/coretools/CrmSvcUtil.xml
/bin/coretools/LicenseTerms.docx
/bin/coretools/Microsoft.ApplicationInsights.dll
/bin/coretools/Microsoft.Crm.Sdk.Proxy.dll
/bin/coretools/Microsoft.Deployment.Compression.Cab.dll
/bin/coretools/Microsoft.Deployment.Compression.dll
/bin/coretools/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
/bin/coretools/Microsoft.PowerPlatform.Tooling.BatchedTelemetry.dll
/bin/coretools/Microsoft.Rest.ClientRuntime.dll
/bin/coretools/Microsoft.Xrm.Sdk.Deployment.dll
/bin/coretools/Microsoft.Xrm.Sdk.dll
/bin/coretools/Microsoft.Xrm.Tooling.Connector.dll
/bin/coretools/Microsoft.Xrm.Tooling.CrmConnectControl.dll
/bin/coretools/Microsoft.Xrm.Tooling.Ui.Styles.dll
/bin/coretools/Newtonsoft.Json.dll
/bin/coretools/pacTelemetryUpload.exe
/bin/coretools/pacTelemetryUpload.exe.config
/bin/coretools/SolutionPackager.exe
/bin/coretools/SolutionPackager.exe.config
/bin/coretools/SolutionPackagerLib.dll
/bin/coretools/System.Diagnostics.DiagnosticSource.dll
/bin/coretools/System.Memory.dll
/bin/coretools/System.Runtime.CompilerServices.Unsafe.dll
/bin/coretools/System.Text.Json.dll
/obj/Debug/.NETFramework,Version=v4.6.2.AssemblyAttributes.cs
/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/obj/Debug/DataImport.csproj.AssemblyReference.cache
/obj/Debug/DataImport.csproj.CopyComplete
/obj/Debug/DataImport.csproj.CoreCompileInputs.cache
/obj/Debug/DataImport.csproj.FileListAbsolute.txt
/obj/Debug/DataImport.csproj.GenerateResource.cache
/obj/Debug/DataImport.dll
/obj/Debug/DataImport.MyPluginControl.resources
/obj/Debug/DataImport.pdb
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/packages
